[Unit]
Description=fastapi test
After=network.target

[Service]
User=janiapi
Group=janiapi
WorkingDirectory=/home/janiapi/app/src
Environment="PATH/home/janiapi/app/venv/bin"
EnvironmentFile=/home/janiapi/.env
ExecStart=/home/janiapi/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target